<h3>1. Allgemeines</h3>

<p>hitchi.de ermöglicht Ihnen die Nutzung der Website bzw. der WebApp auf der Grundlage dieser Allgemeinen Nutzungsbedingungen.</p>

<h3>2. Nutzung und Urheberrecht</h3>

<p>Der Aufbau, die Gestaltung sowie sämtliche Inhalte der Website bzw. der WebApp sind urheberrechtlich geschützt. Ein geschäftsmäßiger oder kommerzieller Gebrauch der Inhalte ist nicht gestattet.</p>

<p>Sie können aktiv an hitchi.de teilnehmen, nachdem Sie sich über Ihren Facebook-Account eingeloggt haben. Eine Registrierung kann nur mittels Nutzung von "Facebook Login" erfolgen. Die für die Registrierung erforderlichen Daten werden dann von Ihrem Facebook-Konto übertragen.</p>
<!-- <p>Sie können sich auch für den Versand des hitchi.de E-Mail-Newsletters anmelden, mit welchem Sie über aktuelle Themen
        informiert werden. Für die Registrierung ist die Angabe Ihrer E-Mailadresse, optional Ihres Vor- und Nachnamens erforderlich. Sie können sich jederzeit aus dem Verteiler des E-Mail-Newsletters streichen lassen, indem Sie auf das Feld „Newsletter
        abbestellen“ im Fuß der E-Mail klicken.</p> -->

<p>Bei der Nutzung der Website bzw. der WebApp verpflichten Sie sich zur Wahrung der gesetzlichen Vorschriften, von Rechten Dritter und der guten Sitten. hitchi.de ist berechtigt, Sie von der Nutzung auszuschließen und Ihre Datenbestände zu löschen, wenn Sie hiergegen verstoßen. Die Entscheidung hierüber trifft hitchi.de nach billigem Ermessen.</p>

<p>Sie garantieren ausdrücklich, dass Sie Inhaber sämtlicher erforderlichen Rechte an den von Ihnen hochgeladenen und/oder eingestellten Inhalten sind und nicht daran gehindert sind, die vorstehenden Rechte hitchi.de einzuräumen. Sie garantieren weiter, dass Sie über die Rechte im obigen Umfang an den von Ihnen eingestellten Inhalten noch nicht anderweitig exklusiv verfügt haben, dass Sie mit der vorstehenden Rechteeinräumung keine Rechte Dritter sowie keine vertraglichen Beziehungen zu Dritten (Facebook, Google) verletzen. Für den Fall eines Verstoßes gegen diese Garantien und/oder fehlender, unvollständiger oder fehlerhafter Rechteeinräumung, werden Sie hitchi.de von sämtlichen Ansprüchen Dritter freistellen und schadlos halten.</p>

<p>Wer Inhalte auf die Plattform hitchi.de stellt, verpflichtet sich, dabei auf kulturelle und religiöse Belange anderer Nutzerinnen und Nutzer Rücksicht zu nehmen und insbesondere keine ehrverletzenden, verleumderischen, beleidigenden, bedrohenden, obszönen, pornographischen, jugendgefährdenden, rassistischen, extremistischen oder in sonstiger Weise gesetzwidrigen oder gegen die guten Sitten verstoßenden Aussagen, Bilder oder Ähnliches zu verwenden. Wer Inhalte einstellt, hat sich ebenfalls zu vergewissern, dass auch die durch Links verknüpften Inhalte diesen Anforderungen entsprechen.</p>

<p>Eine aktive Teilnahme ist nur für natürliche Personen ab 18 Jahren möglich und das Angebot richtet sich nur an Verbraucher im Sinne des § 13 BGB.</p>

<p>Daten dürfen nicht für eigennützige, gewerbliche Vermarktung genutzt oder an Dritte weitergegeben werden. Gewerbliche Inserate dürfen nur mit schriftlicher Genehmigung von hitchi.de und ggf. den Kunden der hitchi.de eingestellt werden. Ein Zuwiderhandeln wird strafrechtlich verfolgt.</p>

<p>hitchi.de stellt lediglich eine Kommunikationsbasis zur Verfügung, die es Benutzern ermöglicht Daten für Mitfahrgelegenheiten auszutauschen. Sie ist nur ein Hilfsmittel, um Fahrgemeinschaften zu organisieren. hitchi.de und alle Kunden und Nutzer von hitchi.de können keine Haftungen bezüglich der Fahrt bzw. einem Nichtzustandekommen, z.B. auch durch falsche Eingaben der Benutzer, übernehmen.</p>

<p>hitchi.de ist für Fahrer wie Mitfahrer kostenfrei. Eine Kostenbeteiligung zwischen Fahrer und Mitfahrer ist unabhängig von hitchi.de zu klären.</p>
<p>Der Fahrer/die Fahrerin verpflichtet sich, die Mitfahrer am vereinbarten Ort abzusetzen.</p>

<p>Der Nutzungsvertrag kommt durch Ihre Anmeldung (Angebot) einerseits und unsere Annahmeerklärung (Annahme) andererseits zustande.</p>
<p>Fahrer und Mitfahrer entscheiden selbständig, ob und zu welchen Bedingungen eine Mitfahrt zustande kommt.</p>
<p>hitchi.de bietet keine Transportdienstleistungen an. Die Website ist eine reine Kommunikations- und Interaktionsplattform für potenzielle Fahrer und Mitfahrer („Mitglieder“). hitchi.de ermöglicht den Mitgliedern, über die Website bzw. die WebApp nach Mitfahrangeboten anderer Mitglieder zu suchen, andere Mitglieder zum Zwecke der Mitfahrt zu kontaktieren, Mitfahrangebote (unter Angabe der Details zum jeweiligen Mitfahrangebot) zu veröffentlichen. hitchi.de greift grundsätzlich nicht in Fahrten, Fahrtziele, Fahrzeitpunkte oder sonstige Bedingungen von Fahrten ein. Eine Vereinbarung über die Mitfahrgelegenheit besteht alleine zwischen dem Fahrer und dem Mitfahrer. hitchi.de ist daher kein Vertragspartner bei den Transaktionen zwischen Mitgliedern und daher auch regelmäßig nicht verantwortlich für die Richtigkeit von bereitgestellten Angaben über Fahrer, Fahrten, Fahrzeuge und Mitfahrer und für die vereinbarungsgemäße Durchführung der Fahrt. hitchi.de ist kein Vertreter der Mitglieder und wird auch nicht als Vertreter handeln.</p>

<p>Sie verpflichten sich, hitchi.de ausschließlich für die Kontaktaufnahme zwischen Personen zu nutzen, die eine nicht gewerbliche Fahrgemeinschaft bilden möchten, deren Gesamtentgelt die Betriebskosten der Fahrt nicht übersteigt (§ 1 Personenbeförderungsgesetz).</p>

<p>hitchi.de ist nicht für die Klärung von Streitigkeiten und/oder Unklarheiten zwischen den Parteien einer Fahrt verantwortlich.</p>

<p>Der Anbieter ist berechtigt, bereits bei dem Verdacht, dass gegen die Anforderungen dieser Nutzungsbedingungen verstoßen wird, die Inhalte zu sperren. Für Verstöße tragen allein diejenigen die rechtliche Verantwortung, welche diese Inhalte eingestellt oder zu ihnen einen Link gelegt haben. Sie haben den Anbieter von etwaigen Ansprüchen Dritter, die aus Ihrem Verhalten resultieren, freizustellen.</p>

<p>Der Betreiber behält sich das Recht vor, die von Nutzern erstellten Inhalte ohne Angabe von Gründen zu löschen. Die Nutzer haben keinen Anspruch auf die dauerhafte und uneingeschränkte Veröffentlichung der durch sie erstellten Inhalte.</p>

<h3>3. Haftung</h3>

<p>Für die eigenen Inhalte der Website bzw. der WebApp ist hitchi.de nach den allgemeinen Gesetzen verantwortlich. Die auf der Website bzw. WebApp veröffentlichten Inhalte sind mit größter Sorgfalt erstellt und hitchi.de ist um eine stetige Überprüfung bemüht. Dennoch kann keine Gewähr für die jederzeitige Erreichbarkeit, Verfügbarkeit und Richtigkeit, Vollständigkeit und Aktualität sowie Brauchbarkeit und Geeignetheit der Inhalte übernommen werden.</p>

<p>Die Website bzw. WebApp enthält auch Inhalte, die von Dritten erstellt wurden. hitchi.de ist es nicht möglich und zumutbar, alle von Dritten eingestellten Inhalte zu überprüfen und fortlaufend zu kontrollieren. Benachrichtigen Sie uns bitte, wenn Sie Inhalte bemerken, die Ihnen bedenklich erscheinen. Wird hitchi.de ein möglicher Verstoß gegen Rechtsvorschriften, Verletzung von Rechten Dritter oder der guten Sitten bekannt, werden die davon betroffenen Inhalte gelöscht.</p>

<p>hitchi.de haftet unabhängig vom Rechtsgrund nur für Vorsatz und grobe Fahrlässigkeit. Eine Haftung wegen einfacher Fahrlässigkeit ist nur bei Verletzung einer wesentlichen Vertragspflicht gegeben, sie ist auf den vertragstypischen, vorhersehbaren Schaden beschränkt. Die vorstehenden Beschränkungen gelten nicht für Schäden aus der Verletzung des Lebens, des Körpers, der Gesundheit oder nach dem Produkthaftungsgesetz. Für gesetzliche Vertreter und Erfüllungsgehilfen gilt Vorstehendes entsprechend.</p>

<h3>4. Datenschutz</h3>

<p>Die Bestimmungen zum Datenschutz sind in der folgenden Datenschutzbestimmung enthalten.</p>

<h3>5. Links</h3>

<p>Die Website bzw. WebApp enthält Links zu Websites Dritter, auf deren Inhalte hitchi.de keinen Einfluss hat. hitchi.de macht sich diese Inhalte in keiner Weise zu Eigen und übernimmt für sie keine Haftung. Für die Inhalte der verlinkten Seite ist ausschließlich der jeweilige Anbieter der Seiten verantwortlich. hitchi.de hat die Links nach bestem Wissen und Gewissen geprüft. Rechtswidrige Inhalte der verlinkten Seiten waren zum Zeitpunkt der Linksetzung nicht erkennbar. Auf die zukünftige Gestaltung und Inhalte der verlinkten Seiten hat hitchi.de keinen Einfluss. hitchi.de ist es auch nicht möglich und zumutbar, alle verlinkten Seiten fortlaufend zu kontrollieren. Benachrichtigen Sie uns bitte umgehend, falls Sie über unsere Links zu Seiten gelangt sind, deren Inhalte Ihnen bedenklich erscheinen. Sobald hitchi.de Rechtsverletzungen durch Inhalte der verlinkten Seiten bekannt sind, werden derartige Links umgehend entfernt.</p>

<p>hitchi.de ist - jederzeit widerruflich - damit einverstanden, dass Sie Links zur Website erstellen. Es darf hierdurch jedoch nicht der Eindruck einer geschäftlichen Beziehung erweckt werden. Für den Betrachter muss erkennbar sein, dass es sich um einen Inhalt von hitchi.de handelt.</p>

<!-- <h3>6. Gewinnspiele</h3>
      <p>hitchi.de bietet regelmäßig Gewinnspiele auf der Website an. Die Gewinner werden durch Losverfahren ermittelt. Der Rechtsweg ist ausgeschlossen. Für Sachgewinne übernimmt hitchi.de keine Mängelgewährleistung, eine Barauszahlung ist nicht
        möglich. Minderjährige unter 18 Jahren ist die Teilnahme an Gewinnspielen nicht gestattet.</p> -->

<h3>6. Schlussbestimmungen</h3>

<p>hitchi.de behält sich vor, die Website jederzeit zu ändern, zu ergänzen, zu kürzen oder auch ganz einzustellen. Entsprechendes gilt für die Nutzungsbedingungen. Die Änderungen der Nutzungsbedingungen gelten als angenommen, wenn Sie die Website einen Monat lang nach Inkrafttreten der Änderungen weiter nutzen.</p>

<p>Sollte eine Bestimmung der Nutzungsbedingungen unwirksam sein oder werden, wird dadurch die Wirksamkeit der übrigen Bestimmungen nicht berührt. Unwirksame Bestimmungen werden durch solche wirksamen Regelungen ersetzt, durch die ein der unwirksamen Bestimmung wirtschaftlich möglichst nahekommendes Ergebnis rechtswirksam erzielt wird.</p>

<p>Die Nutzung der Website und diese Nutzungsbedingungen unterstehen ausschließlich deutschem materiellem Recht.</p>

<p>Gerichtsstand ist - soweit zulässig vereinbar - Mainz.</p>

<h3>7. Kontaktdaten</h3>

<p>Sämtliche Erklärungen im Zusammenhang mit der Website und den Nutzungsbedingungen sind zu richten an:</p>
