
<h3>1. Allgemeines</h3>

<p>Die nachfolgende Erklärung gibt Ihnen einen Überblick darüber, wie hitchi.de auf seinen Internetseiten www.hitchi.de (inkl. Apps) mit dem Endgerät des Nutzers interagiert, also welche Art von Daten zu welchem Zweck erhoben, gespeichert und genutzt werden.</p>

<p>Verantwortliche Stelle im Sinne des Datenschutzes ist Simon Neutert, Südring 309, 55128 Mainz.</p>

<p>Mit dieser Erklärung geben Sie Ihr Einverständnis, dass hitchi.de Ihre nachstehend aufgeführten Daten zu den hier genannten Zwecken erheben, verarbeiten und nutzen darf.</p>

<h3>2. Erhebung und Speicherung personenbezogener Daten</h3>

<p>hitchi.de erhebt auf der Website personenbezogene Daten nur, wenn dies für den von Ihnen gewünschten Zweck erforderlich ist und/oder wenn Sie hitchi.de diese freiwillig angeben (minimales Datenset des Facebook Logins (siehe Abschnitt 5)).</p>

<p>Weitergehende personenbezogene Daten werden nur erhoben und gespeichert, wenn Sie hitchi.de diese freiwillig zur Verfügung stellen.</p>

<ul>
  <!-- <li>Im Rahmen einer Anfrage über das Kontaktformular sind dies Ihr Vor- und Nachname sowie Ihre E-Mailadresse.</li> -->
  <li>Bei einer Registrierung zur Inanspruchnahme der Dienste sind dies Ihre E-Mailadresse, ein Benutzername, eine Benutzernummer und ein Profilbild. Die Registrierung muss mittels Nutzung von "Facebook Connect" / "Facebook Login" erfolgen. Die für die Registrierung
    erforderlichen Daten werden dann aus Ihrem Facebook Konto übertragen. (Details siehe Abschnitt 5.)</li>
  <!-- <li>Sie können sich für den Versand des hitchi.de E-Mail-Newsletters anmelden. In diesem Fall erhebt und speichert hitchi.de Ihre E-Mail-Adresse sowie Ihren Vor- und Nachnamen, sofern Sie diesen angegeben haben. hitchi.de nutzt sie ausschließlich zum
    Versand von Newsletter-E-Mails, mit denen Sie über aktuelle Themen informiert werden. Sie können sich jederzeit aus dem Verteiler streichen lassen, indem Sie auf das Feld „Newsletter abbestellen“ auf unserer Website klicken. Ihre Daten werden
    in diesem Fall gelöscht.</li> -->
  <!-- <li>Wenn Sie den Inhalt der Website passend zu Ihrer Umgebung ausrichten möchten, können Sie hitchi.de Ihre Adresse mitteilen, die hitchi.de ausschließlich für diesen Zweck erhebt und speichert.</li> -->
  <!-- <li>Wenn Sie bei einem Gewinnspiel von hitchi.de mitmachen, erhebt und speichert hitchi.de Ihren Vor- und Nachnamen, Ihre Adresse sowie Ihre E-Mailadresse, um den Gewinner zu ermitteln. Da eine Teilnahme am Gewinnspiel unter 14 Jahren nicht möglich
    ist, erhebt und speichert hitchi.de auch Ihr Geburtsdatum. Die Benachrichtigung des Gewinners erfolgt per E-Mail. Ihre erhobenen Daten werden nach Abschluss des Gewinnspiels gelöscht, es sei denn Sie haben in die Nutzung und Weitergabe Ihrer
    Daten zu werblichen Zwecken eingewilligt.</li> -->
</ul>

<p>Sie haben jederzeit das Recht, Ihre Daten abzurufen, zu korrigieren sowie zu löschen. Sollten Sie den Facebook Login nutzen, werden die Daten automatisch von Ihrem Facebook-Konto synchronisiert.</p>

<h3>3. Nutzung und Weitergabe personenbezogener Daten</h3>

<p>Die während der Nutzung der Website bzw. WebApp erhobenen und gespeicherten personenbezogenen Daten verwendet hitchi.de ausschließlich für rechtlich zulässige Zwecke. Eine Weitergabe, ein Verkauf oder eine sonstige Übermittlung Ihrer personenbezogenen Daten an Dritte erfolgt nicht, es sei denn Sie haben hierzu Ihre Einwilligung erklärt.</p>

<p>Anonymisierte Daten nutzt hitchi.de zu Zwecken der Marktforschung, für Werbeaktionen und zur bedarfsgerechten Gestaltung der Website bzw. WebApp. hitchi.de behält sich vor, anonymisierte Daten an Werbepartner weiterzugeben, um Ihnen auf Sie zugeschnittene Werbeeinblendungen zu präsentieren.</p>

<h3>4. Cookies</h3>

<p>Cookies sind kleine Textdateien, die auf Ihrer Festplatte gespeichert werden. Sie dienen der Steuerung der Internetverbindung während Ihres Besuchs der Website. Über diese Cookies erhält hitchi.de Informationen, die es ermöglichen, die Website auf Ihre Bedürfnisse zu optimieren, z. B. um Dienstleistungen auf Sie zuzuschneiden und entsprechende Werbeeinblendungen vorzunehmen. hitchi.de verwendet sogenannte Session-Cookies und Persistente-Cookies. Bei Session-Cookies handelt es sich um Cookies, die nur so lange auf Ihrem Computer verbleiben, bis Sie Ihren Browser schließen. Danach werden sie gelöscht. Persistente-Cookies sind solche, die mit einer Gültigkeitsdauer versehen sind und auf Ihrer Festplatte gespeichert werden. Die Cookies werden erst nach dem Ablauf der Speicherlaufzeit oder durch eine Benutzeraktion gelöscht. Cookies werden auch von Werbepartnern von hitchi.de oder Drittanbietern gesetzt und dienen dazu, Dienstleistungen auf Sie zuzuschneiden und entsprechende Werbeeinblendungen vorzunehmen. Die Installation der Cookies können Sie durch eine Einstellung Ihrer Browsersoftware verhindern. In diesen Fall können möglicherweise nicht alle Funktionen der Website bzw. WebApp genutzt werden.</p>

<h3>5. Verwendung des Facebook Logins und "Gefällt mir"-Buttons</h3>

<p>Die Teilnahme an hitchi.de ist nur durch den sogenannten "Facebook Login" möglich. Dies ist ein Social Plugin des sozialen Netzwerkes facebook.com, das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird („Facebook“). Für den Login stellt hitchi.de nach Ihrer Zustimmung eine Verbindung zu Facebook her und erhält die notwendigen Daten Ihres Facebook-Profils. Dazu zählen:</p>
<div class="row">
  <div class="col-sm-6">
<ul>
  <li>Vorname</li>
  <li>Nachname</li>
  <li>Alter</li>
  <li>Benutzername</li>
  <li>E-Mail</li>
</ul>
</div>
<div class="col-sm-6">
<ul>
<li>Geschlecht</li>
<li>ID (Benutzernummer)</li>
<li>Link (zum Profil)</li>
<li>access token</li>
<li>Sprache / Land</li>
</ul>
</div>
</div>
<p>Mit Ihrem Login erlauben Sie hitchi.de die Speicherung und Verarbeitung dieser persönlichen Daten. Eine Weitergabe, ein Verkauf oder eine sonstige Übermittlung Ihrer personenbezogenen Daten an Dritte erfolgt nicht, es sei denn, Sie haben hierzu Ihre Einwilligung erklärt.</p>

<!-- <p>Einige unserer Internetseiten enthalten sogenannte „Gefällt mir“-Buttons, ein Social Plugin des sozialen Netzwerkes facebook.com, das von der Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA betrieben wird („Facebook“). Der Button
  ist mit dem Facebook Logo und dem Zusatz „Gefällt mir“ versehen. Bei Aufruf einer unserer Seiten, die diesen Button enthält, wird eine Verbindung zu den Facebook-Servern aufgebaut. Das Plugin wird von Facebook direkt an Ihren Browser übermittelt
  und von diesem in unsere Website eingebunden. Somit wird Facebook mitgeteilt, welche Seiten – mit eingebundenem „Gefällt mir“-Button – Sie besucht haben. Sollten Sie während des Besuches der jeweiligen Seiten auf Facebook eingeloggt sein, gibt
  Facebook die Information über Ihren Besuch an Ihr persönliches Facebook-Benutzerkonto weiter. Sollten Sie die Plugins von Facebook auf unseren Seiten nutzen (beispielsweise durch Klick auf den „Gefällt mir“-Button oder Verfassen eines Kommentars)
  werden auch diese Informationen von Facebook an Ihr persönliches Facebook-Benutzerkonto übermittelt. Um diese Übermittlung zu vermeiden, ist es zwingend notwendig sich vor der Interaktion mit den Plugins auf unseren Seiten aus Facebook auszuloggen.
  Weitere Informationen zur Datenerhebung bzw. Datennutzung durch Facebook und Ihre Rechte bzw. Möglichkeiten dies zu unterbinden, entnehmen Sie bitte den Facebook-Datenschutzrichtlinien (http://www.facebook.com/policy.php).</p> -->

<!-- <h3>6. Nutzung von Google Analytics und Google AdSense</h3>

<p>Diese Website benutzt Google Analytics, einen Webanalysedienst und Google AdSense, einen Webanzeigendienst der Google Inc. („Google“). Google Analytics und Google AdSense verwenden sog. „Cookies“, Textdateien, die auf Ihrem Computer gespeichert
  werden und die eine Analyse der Benutzung der Website durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Website werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert.
  Im Falle der Aktivierung der IP-Anonymisierung auf dieser Website, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum
  zuvor gekürzt. Nur in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt. Im Auftrag des Betreibers dieser Website wird Google diese Informationen benutzen, um Ihre Nutzung der Website
  auszuwerten, um Reports über die Websiteaktivitäten zusammenzustellen und um weitere mit der Websitenutzung und der Internetnutzung verbundene Dienstleistungen z. B. Werbeeinblendungen gegenüber dem Websitebetreiber zu erbringen. Die im Rahmen
  von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern; wir weisen
  Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Website vollumfänglich werden nutzen können. Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Website
  bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das unter der folgenden URL verfügbare Browser-Plugin herunterladen und installieren: http://tools.google.com/dlpage/gaoptout?hl=de</p> -->

<h3>6. Google API </h3>

<p>hitchi bezieht seine Geodaten über die Google Maps Geocoding API und das dazugehörige Kartenmaterial über die Google Static Maps API. <%= link_to 'Maps by Google', 'http://www.google.de/maps', target: "_blank" %></p>
<p>Mit der Nutzung dieser App unterwerfen sich die Nutzer den <a href="https://www.google.de/policies/terms/regional.html">Google Nutzungsbedingungen</a>.</p>

<p>Folglich gilt wegen der von Google zur Verfügung gestellten Daten und Inhalten die <a href="https://www.google.com/policies/privacy/?hl=de">Google Datenschutzvereinbarung</a>.</p>
<p>Mit der Nutzung von hitchi gibt der Nutzer sein Einverständnis bezüglich der von Google geltenden Bedingungen und der Verarbeitung der Daten durch Google.</p>

<h3>7. Auskunftsrecht</h3>

<p>Sie haben jederzeit das Recht auf Auskunft über die bezüglich Ihrer Person gespeicherten Daten. So finden Sie alle ihre geschalteten Anzeigen oder Gesuche unter dem Menüpunkt Konto/Profil/Benutzername. Wie sich die Informationen Ihrer Konto-Daten zusammensetzen, wurde oben beschrieben (Facebook Login). Alte Gesuche und Anzeigen werden automatisiert aus dem Profil gelöscht und sind nicht wieder herstellbar.</p>

<h3>8. Widerruf Ihrer Einwilligung</h3>

<p>Sie können jederzeit Ihre Einwilligung zur Erhebung, Verarbeitung und Nutzung Ihrer Daten für die Zukunft widerrufen. Kontaktieren Sie hitchi.de über Facebook um Ihr Konto löschen zu lassen.</p>
