<div class="row narrowrow hidden-xs hidden-sm">
  <div class="col-md-10 col-md-offset-1 col-sm-12">
    <!-- <hr class="hroffersplit"> -->
    <ul class="list-inline">
      <li><strong>hitchi wird aktiv von folgenden Facebook-Gruppen unterstützt: </strong></li><br>

      <a href="https://www.facebook.com/groups/461103077287983/" target="_blank"><li class="btn btn-primary hitchiquick">Mainz</li></a>

      <a href="https://www.facebook.com/groups/mfg.konstanz.stuttgart/?fref=ts" target="_blank"><li class="btn btn-primary hitchiquick">KN - S - LB - HN</li></a>

      <a href="https://www.facebook.com/groups/353481034697949/admins" target="_blank"><li class="btn btn-primary hitchiquick">Konstanz - Freiburg</li></a>

      <a href="https://www.facebook.com/groups/583618135036813" target="_blank"><li class="btn btn-primary hitchiquick">Aalen</li></a>

      <a href="https://www.facebook.com/groups/MfG.RV/" target="_blank"><li class="btn btn-primary hitchiquick">Ravensburg</li></a>

      <a href="https://www.facebook.com/groups/Mitfahrgelegenheit.Konstanz/?fref=ts" target="_blank"><li class="btn btn-primary hitchiquick">Konstanz weite Welt</li></a>

      <a href="https://www.facebook.com/groups/333800020050112/" target="_blank"><li class="btn btn-primary hitchiquick">Würzburg - München</li></a>

      <a href="https://www.facebook.com/groups/134643329974733/?ref=br_rs" target="_blank"><li class="btn btn-primary hitchiquick">Bamberg - Würzburg</li></a>

    <a href="https://www.facebook.com/groups/295380983808570/" target="_blank"><li class="btn btn-primary hitchiquick">Nürnberg - Augsburg - Kempten</li></a>
    </ul>
  </div>
</div>
