<%= metamagic title: "hitchi AGB und Datenschutz - die Mitfahrgelegenheit aus der Community - ohne Abzocke", description: "AGB und Datenschutz.", keywords: %w(kostenlos Mitfahrgelegenheit Mitfahren AGB Datenschutz fragen antworten hitschi hitchi
hitji), og: { title: "hitchi AGB und Datenschutz - die Mitfahrgelegenheit aus der Community - ohne Abzocke", description: "Kostenlose Mitfahrgelegenheiten für die facebook Community.", url: "https://www.hitchi.de", image:
"https://www.hitchi.de/hitchi_logo.png" } %>
<div class="row allowbreak">
  <div class="col-md-6">
    <h2 id="to_agb">
      <small>Allgemeine Geschäftsbedingungen</small>
    </h2>
    <%= render 'home/agb' %>
  </div>

  <div class="col-md-6">
    <h2 id="to_datenschutz">
      <small>Datenschutzbestimmungen</small>
    </h2>
    <%= render 'home/datenschutz' %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-6">
    <h2>
      <small>Impressum / Kontakt</small>
    </h2>
    <%= render 'home/contacts' %>
  </div>
</div>
