<%= metamagic title: "hitchi Impressum", description: "hitchi - die Mitfahrgelegenheiten ohne Abzocke.", keywords: %w(kostenlos Mitfahrgelegenheit Mitfahren Impressum fragen antworten hitschi hitchi hitji), og: { title: "hitchi Impressum - die
Mitfahrgelegenheit aus der Community - ohne Abzocke", description: "Kostenlose Mitfahrgelegenheiten für die facebook Community.", url: "https://www.hitchi.de", image: hitchilogourl } %>
<div class="row">
  <div class="col-md-8 col-md-offset-4">
    <h1 class="">
      <small>Impressum</small>
    </h1>
    <%= render 'home/contacts' %>
  </div>
</div>
