<div class="row">
    <div class="col-sm-6 col-sm-offset-3 text-center">
        <p>
            <small>Andere Nutzer werden über dein Facebook-Profil Kontakt mit dir aufnehmen,
                <strong>also schaue regelmäßig nach deinen "Nachrichtenanfragen" auf Facebook.</strong>
            </small>
        </p>
        <p class="visible-md visible-lg">
            <a href="https://www.facebook.com/messages/pending?action=recent-messages" target="_blank" class="btn btn-info btn-xs"><%= fa_stacked_icon("facebook", base: "square-o") %>Schaue hier in dein entsprechendes Facebook-Postfach</a>
        </p>
        <p class="visible-xs visible-sm">
            <a href="https://m.facebook.com/?soft=messages" target="_blank" class="btn btn-info btn-xs"><%= fa_stacked_icon("facebook", base: "square-o") %>Schaue in dein Facebook-Postfach</a>
        </p>
    </div>
</div>
