<br>
<div class="row visible-xs visible-sm visible-md">
  <div class="col-sm-6 col-sm-offset-3">
  <%= link_to "https://www.facebook.com/sharer/sharer.php?u=https%3A//www.hitchi.de/mitfahrgelegenheit/" + @offer.id.to_s, target: "_blank", class: "text-center" do %>
  <div><p id="shareBtn" class="btn btn-info btn-sm clearfix"><%= fa_stacked_icon("user", base: "square-o") %>
      Auf Facebook teilen</p></div>
  <% end %>
  <br>
  <form class="form-inline text-center">
      <div class="form-group">
          <textinput id="copyurlsmall" class="form-control urlsmall"><%= request.original_url %></textinput>
          <!-- Trigger -->
          <span class="btn copybtnsmall" data-clipboard-action="copy" data-clipboard-target="#copyurlsmall">
              <span class="glyphicon glyphicon-link" aria-hidden="true"></span>
              kopieren
          </span>
      </div>
  </form>
</div>
</div>
