<p id="notice"><%= notice %></p>

<p>
  <strong>Index:</strong>
  <%= @admin_dashboard.index %>
</p>

<%= link_to 'Edit', edit_admins_dashboard_path(@admin_dashboard) %> |
<%= link_to 'Back', admins_dashboards_path %>
